.h-div{
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;
    width: 384px;
    
}


.v-div{
    box-sizing: border-box;
    border: 2px solid black;
    
    height: 384px;
    padding: 10px;
}

#vertical{
    display: flex;
    position: absolute;
    top: 9px; left: 9px;
    
    

}



